* {
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-family: sans-serif;
  padding: 4vh;
  font-size: calc(30px + (70 - 30) * ((100vw - 300px) / (1600 - 300)));
  animation: ip 10s linear infinite;
}
@keyframes ip {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  75% {
    background-color: blue;
  }
  100% {
    background-color: red;
  }
}
h2,
h3 {
  font-family: sans-serif;
  padding: 1vh;
  font-size: calc(15px + (40 - 15) * ((100vw - 300px) / (1600 - 300)));
}
p {
  font-family: sans-serif;
  color: #5e4b00;
  padding: 2vh;
  font-size: 2vh;
}
div {
  border: 2vh ridge #5e4b00;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;
}
